:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* reste rules */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px
}

/* structure */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 12 * 3);
    padding: 1rem;
}

/* style */
/* header style */
header {
    background-color: black;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>* {
    margin: 1rem;
}